<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/17728811-3d79-4e61-8e26-46678bf69d47/resourceGroups/contenedoresrest-app-20220824180ResourceGroup/providers/Microsoft.ContainerRegistry/registries/ContenedoresRest20220824181149</ContainerResourceId>
    <ContainerResourceName>ContenedoresRest20220824181149</ContainerResourceName>
    <Subscription>Evaluación gratuita</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>contenedoresrest20220824181149.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>contenedoresrest</ContainerName>
    <EnvironmentName>ContenedoresRest-env-20220824180728</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://contenedoresrest-app-20220824180.grayrock-2aa99e77.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/17728811-3d79-4e61-8e26-46678bf69d47/resourceGroups/contenedoresrest-app-20220824180ResourceGroup/providers/Microsoft.App/containerApps/contenedoresrest-app-20220824180</ResourceId>
    <ResourceGroup>contenedoresrest-app-20220824180ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>