<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/17728811-3d79-4e61-8e26-46678bf69d47/resourcegroups/contenedoresrest-app-20220824180ResourceGroup/providers/Microsoft.Web/sites/ContenedoresRest20220824181558</ResourceId>
    <ResourceGroup>contenedoresrest-app-20220824180ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/17728811-3d79-4e61-8e26-46678bf69d47/resourceGroups/contenedoresrest-app-20220824180ResourceGroup/providers/Microsoft.ApiManagement/service/ContenedoresRestapi/apis/ContenedoresRest</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://contenedoresrest20220824181558.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a8313cd9-cce7-42c3-b315-9c854b7be034</ProjectGuid>
    <MSDeployServiceURL>contenedoresrest20220824181558.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContenedoresRest20220824181558</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ContenedoresRest20220824181558</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>